scss:
  #messages {
    padding-top: 15px;
    height: calc(100vh - 200px);
    overflow-y: scroll;
    padding-right: 15px;
  }

#messages(data-room-id="#{@room.id}")
  - if @messages.any?
    = render @messages
