// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#sidebar {
  padding-top: 15px;
}

.message {
  margin-bottom: 15px;
}

.receivable-header {
  padding-top: 10px;
  border-left: 2px solid #eee;
}

h4.page-header {
  margin-top: 20px;
}

#new_message {
  padding-bottom: 15px;
}

#messages {
  padding-top: 15px;
  max-height: 600px;
  overflow-y: auto;
}

img.emoji {
  vertical-align: middle;
}
